@model IEnumerable<Lab4.Models.Friend>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<style>
    th, tr, td {
        border: solid 4px;
    }

    tabel {
        border: solid 5px;
    }
</style>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="friendTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    <button data-friend-id="@item.Id" class="btn-link js-delete">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            var table = $("#friendTable").DataTable();
            $("#friendTable .js-delete").on("click", function () {
                var button = $(this);
                bootbox.confirm("Dali sakash da go izbrishesh ovoj prijatel?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/Friend/Delete/" + button.attr("data-friend-id"),
                            method: "GET",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>    
}